@import "./variables.css";

.team,
.partners,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container,
.partners-container,
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-card,
.partner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .img-container,
.partners .img-container {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 10rem;
}
.team img,
.partners img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.team .email a,
.partners .link a,
.projects .email a {
  font-family: Playfair Display;
  color: var(--dark-grey);
}
