@import "./variables.css";

.hero-img {
  display: flex;
  justify-content: center;
}
.hero-description {
  font-family: Convergence;
}
.hero-description-1 {
  margin-top: 4rem;
}
.game img {
  /* width: 80%; */
  height: 20rem;
  border: 0.2rem solid var(--light-orange);
}
.about img {
  width: 17rem;
}
